<div>
  <%= "Question: #{@question}"%>
</div>
<div>
  <%= "Coach Answer: #{@answer}" %>
</div>
<div>
  <a href="http://localhost:3000/ask"><button value="Submit"type="button" class="btn btn-warning">Ask something else</button></a>
</div>
