<%= "Ask your coach a question" %>

<form action="/answer" method="get">
  <input type="text" class="form-control input" name="question" placeholder="What's your question?">
  <input type="submit" class="btn btn-primary mb-2 form-control">
</form>
